@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&family=Source+Sans+Pro&display=swap');

html, body, #root, .container-fluid{
  padding-left: 0rem;
  padding-right: 0rem;
  overflow: hidden;
  width: 100%;
}

/* 
  NAV
*/
#nav{
  position: fixed;
  display: flex;
  top: 0;
  width: 100%;
  justify-content: space-between;
  background-color: #b306f7;
  padding: 1em;
}

#navTitle{
  color: white;
  font-size: xx-large;
}

#navBottom{
  position: fixed;
  display: flex;
  bottom: 0;
  width: 100%;
  justify-content: space-between;
  background-color: #b306f7;
  padding: 1em;
  padding-bottom: 1.5em;
}

#navBottom a:active{
  color: rgb(142, 0, 250);
}

#navBottom a{
  color: rgb(255, 255, 255);
}

#nav a{
  color: rgb(255, 255, 255);
}

/* 
  Cards
*/

#postCards {
  background: #000;
}